
/.vscode
Restaurant/bin/Debug/net7.0/Restaurant
Restaurant/bin/Debug/net7.0/Restaurant.dll
Restaurant/bin/Debug/net7.0/Restaurant.pdb
Restaurant/obj/Debug/net7.0/apphost
Restaurant/obj/Debug/net7.0/ref/Restaurant.dll
Restaurant/obj/Debug/net7.0/refint/Restaurant.dll
Restaurant/obj/Debug/net7.0/Restaurant.AssemblyInfo.cs
Restaurant/obj/Debug/net7.0/Restaurant.AssemblyInfoInputs.cache
Restaurant/obj/Debug/net7.0/Restaurant.assets.cache
Restaurant/obj/Debug/net7.0/Restaurant.csproj.CoreCompileInputs.cache
Restaurant/obj/Debug/net7.0/Restaurant.csproj.FileListAbsolute.txt
Restaurant/obj/Debug/net7.0/Restaurant.dll
Restaurant/obj/Debug/net7.0/Restaurant.GeneratedMSBuildEditorConfig.editorconfig
Restaurant/obj/Debug/net7.0/Restaurant.genruntimeconfig.cache
Restaurant/obj/Debug/net7.0/Restaurant.pdb
Restaurant/obj/Debug/net7.0/Restaurant.sourcelink.json
Restaurant/obj/project.assets.json
Restaurant/obj/project.nuget.cache
Restaurant/obj/Restaurant.csproj.nuget.dgspec.json
Restaurant/obj/Restaurant.csproj.nuget.g.props
Restaurant/obj/Debug/net7.0/apphost
Restaurant/obj/Debug/net7.0/Restaurant.AssemblyInfo.cs
Restaurant/obj/Debug/net7.0/Restaurant.AssemblyInfoInputs.cache
Restaurant/obj/Debug/net7.0/Restaurant.assets.cache
Restaurant/obj/Debug/net7.0/Restaurant.GeneratedMSBuildEditorConfig.editorconfig
